<template>
<layout>
  <nav class="navbar is-transparent">
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <div class="control">
              <div class="buttons">
                <a-popover title="Add category" trigger="click" placement="leftBottom">
                  <template slot="content" v-if="nodeSelected || !treeHasData">
                    <a-form :form="form" @submit="handleCategorySubmit" layout="inline">
                      <a-form-item label="Name">
                        <a-input v-decorator="['name', {rules: [{ required: true, message: 'Please input your note!' }]}]" />
                      </a-form-item>
                      <a-form-item>
                        <a-button type="primary" html-type="submit" :disabled="hasErrors(form.getFieldsError())">
                          Save
                        </a-button>
                      </a-form-item>
                    </a-form>
                  </template>
                  <template slot="content" v-if="!nodeSelected && treeHasData">
                    Select a Category.
                  </template>
                  <a-button type="primary" size="small" :disabled="!nodeSelected && treeHasData" ghost>
                    <a-icon type="plus" />
                  </a-button>
                </a-popover>
                <a-dropdown>
                  <a-menu slot="overlay">
                    <a-menu-item key="1" v-on:click="deleteCategory()">
                      <a-icon type="delete" />
                      Usuń
                    </a-menu-item>
                    <a-menu-item key="2" v-on:click="deleteCategory(true)">
                      <a-icon type="delete" />
                      Usuń z potomkami
                    </a-menu-item>
                  </a-menu>
                  <a-button type="danger" size="small" ghost :disabled="!nodeSelected">
                    <a-icon type="minus" />
                  </a-button>
                </a-dropdown>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="columns">
    <div class="column">
      <div class="card">
        <a-tree v-if="treeData.length" @dragenter="onDragEnter" @drop="onDrop" draggable :defaultExpandAll="defaultExpandAll" v-model="checkedKeys" @select="onSelect" :selectedKeys="selectedKeys" :treeData="treeData" />
      </div>
    </div>
  </div>
</layout>
</template>

<script>
import Vue from 'vue';
import {
  Tree,
  Dropdown,
  Icon,
  Menu,
  Button,
  Popover,
  Form,
  Input,
  message,
  notification
} from 'ant-design-vue';

import 'ant-design-vue/lib/tree/style';
import 'ant-design-vue/lib/dropdown/style';
import 'ant-design-vue/lib/notification/style';
import 'ant-design-vue/lib/message/style';
import 'ant-design-vue/lib/popover/style';
import 'ant-design-vue/lib/form/style';
import 'ant-design-vue/lib/input/style';
import Layout from "@/views/Layout";
import Dialogs from '@/mixins/dialogs';
import _isEmpty from 'lodash/fp/isEmpty'
import _head from 'lodash/fp/head'
import _getOr from 'lodash/fp/getOr'

Vue.use(Menu);

export default {
  mixins: [Dialogs],
  data() {
    return {
      form: this.$form.createForm(this),
      autoExpandParent: true,
      defaultExpandAll: true,
      selectedKeys: [],
      checkedKeys: [],
      treeData: [],
    }
  },
  methods: {
    hasErrors(fieldsError) {
      return Object.keys(fieldsError).some(field => fieldsError[field]);
    },
    handleCategorySubmit(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {

        console.log(values);
        this.$axios.post(`${process.env.VUE_APP_APIURL}/product/category/append`, {
            parent: this.currentNode,
            form: values,
          })
          .then(res => {
            console.log('move res:', res)
            this.treeData = res.data;
            // if (r.data.status == 'success') {
            //   console.log('delete success:', r.data.status)
            //   this.getFiles(true);
            // }
            // console.log('delete res:', r);
          }).catch(function(error) {
            notification.error({
              message: _getOr('', 'response.data.error')(error),
              description: _getOr('', 'response.data.message')(error),
            });
          });

        if (!err) {
          console.log('Received values of form: ', values);
        }

      });
    },
    onDragEnter(info) {
      console.log(info)
    },
    onDrop(info) {

      this.confirmCustomMove(() => {
        console.log('move infp', info);
        //console.log('move node', node);
        //console.log('move dragnode', dragNode);
        //console.log('move dragnodes keys', dragNodesKeys);
        const dropKey = info.node.eventKey;
        const dragKey = info.dragNode.eventKey;
        const dropPos = info.node.pos.split('-');
        const dropPosition = info.dropPosition - Number(dropPos[dropPos.length - 1]);
        console.log('dropKey: ', dropKey);
        console.log('dragKey: ', dragKey);
        console.log('dropPos: ', dropPos);
        console.log('dropPosition: ', dropPosition);


        this.$axios.post(`${process.env.VUE_APP_APIURL}/product/category/move`, {
            dropKey: dropKey,
            dragKey: dragKey,
            dropPos: dropPos,
            dropPosition: dropPosition
          })
          .then(res => {
            console.log('move res:', res)
            this.treeData = res.data;
            // if (r.data.status == 'success') {
            //   console.log('delete success:', r.data.status)
            //   this.getFiles(true);
            // }
            // console.log('delete res:', r);
          }).catch(function(error) {
            notification.error({
              message: _getOr('', 'response.data.error')(error),
              description: _getOr('', 'response.data.message')(error),
            });
          });

      });
    },
    async fetchData() {
      const res = await this.$axios.get(`${process.env.VUE_APP_APIURL}/product/category/tree`);
      this.treeData = res.data;
      console.log('fetch: ', this.treeData);
    },
    onExpand(expandedKeys) {
      console.log('onExpand', expandedKeys)
      // if not set autoExpandParent to false, if children expanded, parent can not collapse.
      // or, you can remove all expanded children keys.
      this.expandedKeys = expandedKeys
      this.autoExpandParent = false
    },
    onCheck(checkedKeys) {
      console.log('onCheck', checkedKeys)
      this.checkedKeys = checkedKeys
    },
    onSelect(selectedKeys, info) {
      console.log('onSelect', info, selectedKeys);
      this.selectedKeys = selectedKeys;
    },
    async deleteCategory(all = false) {
      this.confirmCustomDelete(() => {
        console.log('delete', this.currentNode);
        window.axios.delete(`${process.env.VUE_APP_APIURL}/product/category/delete`, {
          data: {
            id: this.currentNode,
            all: all
          } //check
        }).then(res => {
          console.log('delete res:', res)
          this.treeData = res.data;
          message.success('Kategoria skasowana');

          // if (r.data.status == 'success') {
          //   console.log('delete success:', r.data.status)
          //   this.getFiles(true);
          // }
          // console.log('delete res:', r);
        });
      });
    },
  },
  computed: {
    treeHasData() {
      return !_isEmpty(this.treeData);
    },
    nodeSelected() {
      return !_isEmpty(this.currentNode);
    },
    currentNode() {
      return _head(this.selectedKeys)
    }
  },
  'a-form': Form,
  mounted() {
    this.fetchData()
  },
  components: {
    'a-button': Button,
    'a-tree': Tree,
    'a-menu': Menu,
    'a-dropdown': Dropdown,
    'a-icon': Icon,
    'a-popover': Popover,
    'a-form': Form,
    'a-form-item': Form.Item,
    'a-input': Input,
    Layout
  }
}
</script>

<style lang="scss">
[v-cloak] {
    display: none;
}
</style>
