<template>
<layout>
  <section>
    <div class="columns">

      <div class="column is-one-quarter">
        <article class=" message is-small">
          <div class="message-header">
            <p>Main Photo</p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
            <file-chooser></file-chooser>
          </div>
        </article>

        <article class=" message is-small">
          <div class="message-header">
            <p>Kategorie</p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
            <a-tree-select style="width: 100%" :treeData="treeData" :value="form.categories" @change="onChange" treeCheckable :showCheckedStrategy="checkedStrategy" searchPlaceholder='Please select' />
          </div>
        </article>

      </div>
      <div class="column is-three-quarter">
        <article class=" message is-small">
          <div class="message-header">
            <p>Dane produktu</p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
            <form @submit.prevent="validateBeforeSubmit">
              <b-field label="Tytuł" v-bind:type="{'is-danger': errors.has('name')}" v-bind:message="errors.first('name')">
                <b-input v-model="form.name" data-vv-as="Nazwa produktu" name="name" v-validate="'required'"></b-input>
              </b-field>
              <b-field label="Opis" v-bind:type="{'is-danger': errors.has('description')}" v-bind:message="errors.first('description')">
                <b-input type="textarea" v-model="form.description" data-vv-as="Opis produktu" name="description" v-validate="'required'"></b-input>
              </b-field>
              <b-field label="Cena" v-bind:type="{'is-danger': errors.has('price')}" v-bind:message="errors.first('price')">
                <b-input v-model="form.price" data-vv-as="Cena produktu" name="price" v-validate="'required|decimal:2'"></b-input>
              </b-field>
              <div class="field is-grouped">
                <div class="control">
                  <button type="submit" class="button is-primary"> Zapisz </button>
                </div>
                <div class="control">
                  <button class="button is-text">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </article>
      </div>

    </div>
    <div class="columns">
      <div class="column">
        <file-multi-chooser ref='fileMultiChooser'></file-multi-chooser>
      </div>
    </div>
  </section>
</layout>
</template>

<script>
import Vue from 'vue';
import Layout from "@/views/Layout"
import ProductMixin from '@/modules/products/mixins/product';
//import _get from 'lodash/get';
//import _unionBy from 'lodash/unionBy';

import VeeValidate, {
  Validator
} from 'vee-validate'
import pl from 'vee-validate/dist/locale/pl';

Vue.use(VeeValidate);
Validator.localize('pl', pl);

export default {
  mixins: [ProductMixin],
  data() {
    return {}
  },

  methods: {
    submitForm() {
      console.log(this.form);
      this.$axios.post(`${process.env.VUE_APP_APIURL}/product/update`, this.form);
    },
    async getFormData() {
      this.form = await window.axios.get(`${process.env.VUE_APP_APIURL}/product/edit`, {
        params: {
          'id': this.$route.params.id
        }
      }).then(r => {
        console.log('res:', r);
        return r.data.model

      });
      console.log('this.form res:', this.form);
      this.updateStore();
    },
  },
  computed: {

  },
  watch: {

  },
  mounted() {
    console.log('this.$router: ', this.$router);
    console.log('this.$route: ', this.$route);

    this.getFormData();

    console.log('store', this.$store);
    console.log('choosed computed', this.choosedFile);
    console.log('form', this.form);
    console.log('this.chooserFileObjects', this.chooserFileObjects);
    console.log('this.$refs.fileMultiChooser', this.$refs.fileMultiChooser);
    console.log('this.$refs.fileMultiChooser.chooserFileObjects', this.$refs.fileMultiChooser.chooserFileObjects);
  },
  components: {
    Layout,
  }
}
</script>

<style lang="css">
.w80p-modal .animation-content {
    width: 80%
  }
</style>
