<template>
<layout>
  <nav class="navbar is-transparent">
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <router-link class="bd-tw-button button" v-bind:to="{name: 'products.create'}" title="Nowy produkt">
                <span class="icon">
                  <i class="far fa-plus-square"></i>
                </span>
              </router-link>
              <router-link class="bd-tw-button button" v-bind:to="{name: 'products.category.init'}" title="Nowe drzewo kategorii">
                <span class="icon">
                  <i class="fas fa-stream"></i>
                </span>
              </router-link>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="columns">

    <div class="column is-one-quarter">
      <div class="card">
        <a-tree v-if="treeData.length" :defaultExpandAll="defaultExpandAll" @select="onSelect" :selectedKeys="selectedKeys" :treeData="treeData" />
      </div>
    </div>
    <div class="column is-three-quarter">
      <div class="card card-table">
        <div class="content" v-cloak>
          <b-table :data="tableData" :columns="columns" class="table is-fullwidth is-striped">
            <template slot-scope="props">
              <b-table-column label="Thumb" width="80">
                <file-thumb-link v-bind:fileObject="props.row.thumb"></file-thumb-link>
                <!-- v-show="isLoad" @load="loaded" -->
              </b-table-column>
              <b-table-column field="name" label="Name" width="400">
                {{props.row.name}}
              </b-table-column>
              <b-table-column field="created_at" label="Data" width="200">
                {{props.row.createdAt}}
              </b-table-column>
              <b-table-column field="actions" label="Akcje" width="100" centered>
                <div class="buttons are-small">
                  <router-link class="button is-success is-small" v-bind:to="{name: 'products.edit', params:{id: props.row._id}}">
                    <i class="far fa-edit"></i>
                  </router-link>
                  <button class="button is-danger is-small" v-on:click="deleteFile(props.row)">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </div>
              </b-table-column>
            </template> </b-table>
        </div>
      </div>
      <b-pagination v-on:change="getTableDataPage" :total="pagination.total" :current="pagination.current" :order="pagination.order" :size="pagination.size" :simple="pagination.isSimple" :rounded="pagination.isRounded" :per-page="pagination.perPage">
      </b-pagination>
    </div>
  </div>
</layout>
</template>

<script>
import {
  Tree
} from 'ant-design-vue';
import 'ant-design-vue/lib/tree/style';
import 'ant-design-vue/lib/message/style';

import Layout from "@/views/Layout";
import Dialogs from '@/mixins/dialogs';
import FileThumbLink from "@/modules/media/components/FileThumbLink";
export default {
  mixins: [Dialogs],
  data() {
    return {
      tableData: [],
      treeData: [],
        defaultExpandAll: true,
         selectedKeys: [],
      pagination: {
        total: 0,
        current: 1,
        perPage: 10,
        order: '',
        size: '',
        isSimple: false,
        isRounded: false
      },
      columns: [{
        field: 'filename',
        label: 'Nazwa',
      }],
      treeOptions: {
        propertyNames: {
          'text': 'name',
        },
        fetchData() {
          /*
          Why not use plugin ?
          */
          return window.axios.get(`${process.env.VUE_APP_APIURL}/product/category/tree`).then(r => r.data);
        }
      }
    }
  },
  methods: {
      onSelect(selectedKeys, info) {
      console.log('onSelect', info, selectedKeys);
      this.selectedKeys = selectedKeys;
    },
    async fetchData() {
      const res = await this.$axios.get(`${process.env.VUE_APP_APIURL}/product/category/tree`);
      this.treeData = res.data;
      console.log('fetch: ', this.treeData);
    },
    getTableDataPage(val) {
      console.log('getTableDataPage', val);
      this.pagination.current = val == 0 ? 1 : val;
      console.log('getTableDataPage.current', this.pagination.current);
      this.getData();
    },
    openModal(path) {
      console.log(path);
      this.isImageModalActive = true;
      this.bigImage = path;
    },
    async getData() {

      console.log('getData', this.pagination);
      const reqData = this.pagination;

      console.log('reqData', reqData);

      this.tableData = await window.axios.get(`${process.env.VUE_APP_APIURL}/product/index`, {
        params: reqData
      }).then(r => {
        this.pagination.total = r.data.size;
        console.log('tableData res:', r.data);
        this.fetchData();
        return r.data
      });

      console.log('this.tableData res:', this.tableData);

    },
    isLoad(row) {
      console.log('isLoad');
      return row.isLoaded;
    },
    loaded(row) {
      console.log('loaded');
      row.isLoaded = true;
    },
  },
  computed: {

  },
  mounted() {
    this.getData();
  },
  components: {
    'a-tree': Tree,
    Layout,
    FileThumbLink
  }
}
</script>

<style lang="scss">
[v-cloak] {
    display: none;
}
</style>
