<template>
<layout>
  <nav class="navbar is-transparent">
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <router-link class="bd-tw-button button" v-bind:to="{name: 'media.file.create'}">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
              </router-link>
            </p>
            <p class="control">
              <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.7.2/bulma-0.7.2.zip">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <media-table></media-table>
</layout>
</template>

<script>
import Layout from "@/views/Layout";


import Dialogs from '@/mixins/dialogs';
import MediaTable from '@/modules/media/components/MediaTable';

export default {
  mixins: [Dialogs],
  data() {
    return {
      files: []
    }
  },
  methods: {
    onNodeSelected(node) {
      console.log(node.text)
    },


    mounted() {
      console.log(process);
    }
  },
  components: {
    Layout,
    MediaTable
  }
}
</script>

<style lang="scss">
[v-cloak] {
    display: none;
}
</style>
