<template>
<layout>
    <div class="about">
        <h1>This is an about page</h1>
    </div>
</layout>
</template>

<script>
import Layout from "./Layout"
export default {
    components: {
        Layout
    }
}
</script>
