<template>
<layout>
  <section>
    <div class="card">
      <div class="card-content">
        <form @submit.prevent="validateBeforeSubmit">

          <b-field label="Nazwa" v-bind:type="{'is-danger': errors.has('name')}" v-bind:message="errors.first('name')">
            <b-input v-model="form.name" data-vv-as="Nazwa klienta" name="name" v-validate="'required'"></b-input>
          </b-field>

          <b-field label="E-mail" v-bind:type="{'is-danger': errors.has('email')}" v-bind:message="errors.first('email')">
            <b-input v-model="form.email" name="email" v-validate="'required|email'"></b-input>
          </b-field>

          <b-field label="Imię" v-bind:type="{'is-danger': errors.has('firstname')}" v-bind:message="errors.first('firstname')">
            <b-input v-model="form.firstname" name="firstname" data-vv-as="Imię klienta" v-validate="'required'"></b-input>
          </b-field>

          <b-field label="Nazwisko" v-bind:type="{'is-danger': errors.has('lastname')}" v-bind:message="errors.first('lastname')">
            <b-input v-model="form.lastname" name="lastname" data-vv-as="Nazwisko klienta"></b-input>
          </b-field>

          <b-field label="Opis">
            <b-input maxlength="200" type="textarea" v-model="form.description"></b-input>
          </b-field>

          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-primary"> Zapisz </button>
            </div>
            <div class="control">
              <button class="button is-text">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</layout>
</template>

<script>
import Vue from 'vue';
import Layout from "./Layout"
import VeeValidate, {
  Validator
} from 'vee-validate'
import pl from 'vee-validate/dist/locale/pl';
Vue.use(VeeValidate);
Validator.localize('pl', pl);

export default {
  data() {
    return {
      name: 'John Silver',
      form: {

        name: null,
        email: null,
        firstname: null,
        lastname: null,
        description: null
      }
    }
  },
  methods: {
    submitForm() {
      console.log(this.form);
      this.$axios.post(`${process.env.VUE_APP_APIURL}/customer/store`, this.form);
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {

        if (result) {

          this.$toast.open({
            message: 'Form is valid!',
            type: 'is-success',
            position: 'is-bottom'
          })

          this.submitForm();
          return;
        }

        this.$toast.open({
          message: 'Formularz zawiera błędy.',
          type: 'is-danger',
          position: 'is-bottom'
        })
      });
    }
  },
  components: {
    Layout
  }
}
</script>
