<template>
<layout>
  <nav class="navbar is-transparent">
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <router-link class="bd-tw-button button" v-bind:to="{name: 'customers.create'}">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
              </router-link>
            </p>
            <p class="control">
              <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.7.2/bulma-0.7.2.zip">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="users card">
    <b-table :data="data" :columns="columns"></b-table>
  </div>
</layout>
</template>

<script>
import Layout from "./Layout"
export default {
  data() {
    return {
      data: [{
          'id': 1,
          'first_name': 'Jesse',
          'last_name': 'Simmons',
          'date': '2016-10-15 13:43:27',
          'gender': 'Male'
        },
        {
          'id': 2,
          'first_name': 'John',
          'last_name': 'Jacobs',
          'date': '2016-12-15 06:00:53',
          'gender': 'Male'
        },
        {
          'id': 3,
          'first_name': 'Tina',
          'last_name': 'Gilbert',
          'date': '2016-04-26 06:26:28',
          'gender': 'Female'
        },
        {
          'id': 4,
          'first_name': 'Clarence',
          'last_name': 'Flores',
          'date': '2016-04-10 10:28:46',
          'gender': 'Male'
        },
        {
          'id': 5,
          'first_name': 'Anne',
          'last_name': 'Lee',
          'date': '2016-12-06 14:38:38',
          'gender': 'Female'
        }
      ],
      columns: [{
          field: 'id',
          label: 'ID',
          width: '40',
          numeric: true
        },
        {
          field: 'name',
          label: 'Name',
        },
        {
          field: 'firstname',
          label: 'Imię',
        },
        {
          field: 'lastname',
          label: 'Nazwisko',
        },

      ]
    }
  },
  methods: {
    getData() {
      this.$axios.get(`${process.env.VUE_APP_APIURL}/customer/`).then((r)=>{
        console.log(r.data);
        this.data = r.data;
      })
    }
  },
  mounted() {
    this.getData();
  },
  components: {
    Layout
  }
}
</script>
