<template>
<layout>
  <section>
    <div class="card">
      <div class="card-content">
        <form @submit.prevent="validateBeforeSubmit">

          <b-field label="Nazwa" v-bind:type="{'is-danger': errors.has('name')}" v-bind:message="errors.first('name')">
            <b-input v-model="form.name" data-vv-as="Nazwa klienta" name="name" v-validate="'required'"></b-input>
          </b-field>

          <b-field label="Opis">
            <b-input maxlength="200" type="textarea" v-model="form.description"></b-input>
          </b-field>

          <b-field>
            <b-upload v-model="form.dropFiles" multiple drag-drop>
              <section class="section">
                <div class="content has-text-centered">
                  <p>
                    <b-icon icon="upload" size="is-large">
                    </b-icon>
                  </p>
                  <p>Drop your files here or click to upload</p>
                </div>
              </section>
            </b-upload>
          </b-field>

          <div class="tags">
            <span v-for="(file, index) in form.dropFiles" :key="index" class="tag is-primary">
              {{file.name}}
              <button class="delete is-small" type="button" @click="deleteDropFile(index)">
              </button>
            </span>
          </div>


          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-primary"> Zapisz </button>
            </div>
            <div class="control">
              <button class="button is-text">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</layout>
</template>

<script>
"use strict"
import Vue from 'vue';
import Layout from "./Layout"
import VeeValidate, {
  Validator
} from 'vee-validate'
import pl from 'vee-validate/dist/locale/pl';
Vue.use(VeeValidate);
Validator.localize('pl', pl);

export default {
  data() {
    return {
      name: 'John Silver',
      form: {
        name: null,
        description: null,
        dropFiles: [],
      }
    }
  },
  methods: {
    submitForm() {
      console.log(this.form);
      this.$axios.post(`${process.env.VUE_APP_APIURL}/media/store`, this.form);
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {

        if (result) {

          this.$toast.open({
            message: 'Form is valid!',
            type: 'is-success',
            position: 'is-bottom'
          })

          this.submitForm();
          return;
        }

        this.$toast.open({
          message: 'Formularz zawiera błędy.',
          type: 'is-danger',
          position: 'is-bottom'
        })
      });
    }
  },
  components: {
    Layout
  }
}
</script>
