<template>
<b-dropdown hoverable position="is-top-right" class="thumb-dropdown">
  <a slot="trigger" v-if="hasFilename" v-bind:href="`${$fs.getFilePathBig(fileObject)}`" v-on:click.prevent="openModal(`${$fs.getFilePathBig(fileObject)}`)">
    <figure class="image is-32x32">
      <img v-bind:src="`${$fs.getFilePathThumb(fileObject)}`">
    </figure>
  </a>
  <b-dropdown-item custom>
    <figure class="image" style="width:500px">
      <img v-bind:src="$fs.getFilePathBig(fileObject)">
    </figure>
  </b-dropdown-item>
</b-dropdown>
</template>

<script>
import _isEmpty from 'lodash/isEmpty';
import _get from 'lodash/get';

export default {
  props: {
    fileObject: Object
  },
  methods: {
    openModal(path) {
      this.$modal.open(
        `<div class="image"><img src="${path}"></div>`
      )
      // this.isImageModalActive = true;
      // console.log('path: ', path);
      // this.bigImage = path;
    },
    isLoad(row) {
      console.log('isLoad');
      return row.isLoaded;
    },
    loaded(row) {
      row.isLoaded = true;
    },
    mounted() {
      console.log('file thumb link loaded', this.fileObject);
    }

  },
  computed: {
    hasFilename() {
      return !_isEmpty(_get(this.fileObject, 'filename', null));
    }
  },
}
</script>
<style lang="scss">
.dropdown-menu {
    z-index: 200;
}
.thumb-dropdown {
    .dropdown-menu {
        left: 34px;
    }
}
</style>
