<template>
<div>
  <article class="message is-small">
    <div class="message-header">
      <p>Galeria</p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      <nav class="navbar is-small" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-small is-light" v-on:click="isFileChooserActive=true">
                  Wybierz pliki
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="columns  is-multiline">
        <div v-for="(file, idx) in choosedFiles" class="column is-one-fifth" v-bind:key="idx">
          <div class="card">
            <div class="card-content">
              <figure class="image is-square">
                <img v-bind:src="$fs.getFilePathThumb(file)">
              </figure>
            </div>
            <footer class="card-footer">            
              <a href="#" class="card-footer-item" v-on:click.prevent="removeChoosedFile(file)">Delete</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </article>
  <b-modal ref='fileChooserModal' :active.sync="isFileChooserActive" has-modal-card width="80%" class="w80p-modal">
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
        <p class="modal-card-title">Zarządzanie plikami</p>
      </header>
      <section class="modal-card-body">
        <media-table v-bind:multiple="true"></media-table>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="closeModal">Zamknij</button>
      </footer>
    </div>
  </b-modal>
</div>
</template>
<script>
import MediaTable from '@/modules/media/components/MediaTable';
import _isEmpty from 'lodash/isEmpty';
import _get from 'lodash/get';
//import _findIndex from 'lodash/findIndex';
import _unionBy from 'lodash/unionBy';
//import _isArray from 'lodash/isArray';
export default {
  props: {
    fileObjects: Array,
    default: []
  },
  data() {
    return {
      isFileChooserActive: false
    }
  },
  methods: {

    closeModal() {
      this.$refs.fileChooserModal.close();
    },
    /**
     * Remove file object from data arrays
     * this.fileobjects are undefined if prop is not set by component attribute
     * @param  {Object} fileObject [description]
     * @return {Boolean}            [description]
     */
    removeChoosedFile(fileObject) {
      // console.log('removeChoosedFile', fileObject, this.fileObjects);
      // if (_isArray(this.fileObjects) === true) {
      //   const removedIdx = _findIndex(this.fileObjects, (n) => {
      //     return fileObject.filename == n.filename
      //   });
      //   console.log('idx', removedIdx);
      //   console.log('this.fileObjects', this.fileObjects);
      //   this.$delete(this.fileObjects, removedIdx);
      // }
      this.$store.commit('removeFromFilesArray', fileObject);
      return true;
    }

  },
  computed: {
    chooserFileObjects() {
      return this.fileObjects;
    },
    choosedFiles() {
      console.log('comp fileObjects', this.fileObjects);
      return _unionBy(this.fileObjects, this.$store.state.choosedFiles, 'filename');
    },
    filePath() {
      if (_isEmpty(this.fileObject)) {
        return this.$fs.getFilePathThumb(this.$store.state.choosedFile);
      } else {
        return this.$fs.getFilePathThumb(this.fileObject);
      }
    },
    isFileChoosed() {
      console.log('isFileChoosed', this.$store.state.choosedFile.filename);
      return !_isEmpty(_get(this.fileObject, 'filename', null)) || !_isEmpty(_get(this.$store, 'state.choosedFile.filename', null));
    }
  },
  mounted() {
    console.log('fileObjects multi', this.fileObjects);
    console.log('chooserFileObjects', this.chooserFileObjects);
    console.log('choosedFiles', this.choosedFiles);
  },
  components: {
    MediaTable
  }
}
</script>
