<template>
<div>
  <div class="card">
    <div class="card-content" v-if="isFileChoosed">
      <figure class="image is-square">
        <img v-bind:src="filePath">
      </figure>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item" v-on:click="isFileChooserActive=true">Wybierz plik</a>
    </footer>
  </div>
  <b-modal ref='fileChooserModal' :active.sync="isFileChooserActive" has-modal-card width="80%" class="w80p-modal">
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
        <p class="modal-card-title">Zarządzanie plikami</p>
      </header>
      <section class="modal-card-body">
        <media-table></media-table>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="closeModal">Zamknij</button>
      </footer>
    </div>
  </b-modal>
</div>
</template>

<script>
import MediaTable from '@/modules/media/components/MediaTable';
import _isEmpty from 'lodash/isEmpty';
import _get from 'lodash/get';

export default {
  props: {
    fileObject: Object
  },
  data() {
    return {
      isFileChooserActive: false
    }
  },
  methods: {
    closeModal() {
      this.$refs.fileChooserModal.close();
    }
  },
  computed: {
    filePath() {
      if (_isEmpty(this.fileObject)) {
        return this.$fs.getFilePathThumb(this.$store.state.choosedFile);
      } else {
        return this.$fs.getFilePathThumb(this.fileObject);
      }
    },
    isFileChoosed() {
      console.log('isFileChoosed', this.$store.state.choosedFile.filename);
      return !_isEmpty(_get(this.fileObject, 'filename', null)) || !_isEmpty(_get(this.$store, 'state.choosedFile.filename', null));
    }
  },
  mounted() {
    console.log('fileObject', this.fileObject);
  },
  components: {
    MediaTable
  }
}
</script>
