<template>
<div class="columns">
  <div class="column is-one-quarter">
    <div class="card">
      <a-tree v-if="treeData.length" :defaultExpandAll="defaultExpandAll" v-model="checkedKeys" @select="onSelect" :selectedKeys="selectedKeys" :treeData="treeData" />
    </div>
  </div>
  <div class="column is-three-quarter">
    <ul>
      <li v-for="(file, idx) in uploadFiles" v-bind:key="idx">{{file.name}} - Error: {{file.error}}, Success: {{file.success}}</li>
    </ul>
    <file-upload :multiple="true" ref="upload" v-model="uploadFiles" :post-action="postUrl" @input-file="inputFile" @input-filter="inputFilter" :data='{path: path}'>
      <button class="button">Opublikuj plik</button>
    </file-upload>

    <button class="button" v-show="!$refs.upload || !$refs.upload.active" @click.prevent="$refs.upload.active = true" type="button">Wyślij</button>
    <button class="button" v-show="$refs.upload && $refs.upload.active" @click.prevent="$refs.upload.active = false" type="button">Stop upload</button>
    <div class="card card-table">
      <div class="content" v-cloak>
        <b-table :data="files" :columns="columns" class="table is-fullwidth is-striped">
          <template slot-scope="props">
            <b-table-column label="Thumb" width="50">
              <file-thumb-link v-bind:fileObject="props.row"></file-thumb-link>
              <!-- v-show="isLoad" @load="loaded" -->
            </b-table-column>
            <b-table-column field="filename" label="ID" width="400" numeric>
              {{props.row.filename}}
            </b-table-column>
            <b-table-column field="actions" label="Akcje" width="100" centered>
              <div class="buttons are-small">
                <button class="button is-success is-small" v-on:click="insertFile(props.row)">
                  <i class="far  fa-check-square"></i>
                </button>
                <button class="button is-danger is-small" v-on:click="deleteFile(props.row)">
                  <i class="far fa-trash-alt"></i>
                </button>
              </div>
            </b-table-column>
          </template>
        </b-table>
      </div>
    </div>
    <b-pagination v-on:change="getFilesPage" :total="pagination.total" :current="pagination.current" :order="pagination.order" :size="pagination.size" :simple="pagination.isSimple" :rounded="pagination.isRounded" :per-page="pagination.perPage">
    </b-pagination>
  </div>
</div>
</template>


<script>
import {
  Tree,
} from 'ant-design-vue';
import 'ant-design-vue/lib/tree/style';
import VueUploadComponent from 'vue-upload-component';
import _assign from 'lodash/assign';
import _map from 'lodash/map';
import FileThumbLink from "@/modules/media/components/FileThumbLink";
import Dialogs from '@/mixins/dialogs';
import fs from '@/libs/fs';

export default {
  name: 'MediaTable',
  mixins: [Dialogs],
  props: {
    msg: String,
    multiple: {
      type: Boolean,
      value: false
    }
  },
  data() {
    return {
      autoExpandParent: true,
      defaultExpandAll: true,
      selectedKeys: [],
      checkedKeys: [],
      treeData: [],
      uploadFiles: [],
      files: [],
      path: '',
      pagination: {
        total: 0,
        current: 1,
        perPage: 10,
        order: '',
        size: '',
        isSimple: false,
        isRounded: false
      },
      columns: [{
        field: 'filename',
        label: 'Nazwa',
      }],
      treeOptions: {
        fetchData() {
          /*
          Why not use plugin ?
          */
          return window.axios.get(`${process.env.VUE_APP_APIURL}/media/filesystem/index`).then(r => r.data);
        }
      }
    }
  },
  methods: {
    onSelect(keys, info) {
      this.path = fs.getPathFromObject(info,'node.dataRef.data.path_relative');
      this.getFiles();
    },
    getFilesPage(val) {
      console.log('getFilesPage', val);
      this.pagination.current = val == 0 ? 1 : val;
      console.log('getFilesPage.cuurent', this.pagination.current);
      this.getFiles();
    },

    insertFile(row) {
      console.log('insertFile:', row);
      if (this.multiple) {
        this.$store.commit('filesObject', row);
      } else {
        this.$store.commit('changeFileObject', row);
      }
    },
    async deleteFile(row) {
      console.log(row);
      this.confirmCustomDelete(() => {
        console.log('delete', row);
        window.axios.delete(`${process.env.VUE_APP_APIURL}/media/filesystem/files`, {
          data: row
        }).then(r => {
          console.log('delete res:', r)
          if (r.data.status == 'success') {
            console.log('delete success:', r.data.status)
            this.getFiles(true);
          }
          console.log('delete res:', r);
        });
      });
    },
    /**
     * Has changed
     * @param  Object|undefined   newFile   Read only
     * @param  Object|undefined   oldFile   Read only
     * @return undefined
     */
    inputFile: function(newFile, oldFile) {

      if (newFile.success && !oldFile.success) {
        this.getFiles(true);
      }

      if (newFile && oldFile && !newFile.active && oldFile.active) {
        // Get response data
        console.log('response', newFile.response)
        if (newFile.xhr) {
          //  Get the response status code
          console.log('status', newFile.xhr.status)

        }
      }
    },
    /**
     * Pretreatment
     * @param  Object|undefined   newFile   Read and write
     * @param  Object|undefined   oldFile   Read only
     * @param  Function           prevent   Prevent changing
     * @return undefined
     */
    inputFilter: function(newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        // Filter non-image file
        if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
          return prevent()
        }
      }

      // Create a blob field
      newFile.blob = ''
      let URL = window.URL || window.webkitURL
      if (URL && URL.createObjectURL) {
        newFile.blob = URL.createObjectURL(newFile.file)
      }
    },

    async fetchTreeData() {
      const res = await this.$axios.get(`${process.env.VUE_APP_APIURL}/media/filesystem/index`);
      this.treeData = res.data;
      console.log('fetch: ', this.treeData);
    },

    async getFiles(imagesLoaded = false) {
      console.log('getFiles', this.pagination);
      const reqData = _assign(this.pagination, {
        path: this.path
      });
      console.log('reqData', reqData);
      this.files = await window.axios.post(`${process.env.VUE_APP_APIURL}/media/filesystem/files`, reqData).then(r => {
        console.log('r:', r);
        this.pagination.total = r.data.size;
        r.data.files = _map(r.data.files, function(o) {
          return _assign(o, {
            isLoaded: imagesLoaded
          });
        });
        console.log('files res:', r.data.files);
        return r.data.files
      });
      console.log('this.files res:', this.files);
    },

  },
  computed: {
    postUrl() {
      return `${process.env.VUE_APP_APIURL}/media/upload`;
    },
  },
  mounted() {
    console.log('fs:', this.fs);

    // this.$refs.tree.$on('node:selected', (e) => {
    //   this.path = e.data.path_relative;
    //   this.getFiles();
    //   console.log(e)
    // });
    console.log('this.data', this.data);
    console.log('this.multiple', this.multiple);
    this.fetchTreeData()
    this.getFiles();
  },
  components: {
    'a-tree': Tree,
    'file-upload': VueUploadComponent,
    FileThumbLink
  }

}
</script>

<style lang="scss">
.table {
    figure {
        margin-left: 0;
        margin-right: 0;
    }
}
</style>
