<template>
<div class="sidebar">
  <aside class="menu">
    <p class="menu-label">
      Nawigacja
    </p>
    <ul class="menu-list">
      <li>
        <router-link v-bind:to="{name: 'home'}">Pulpit nawigacyjny</router-link>
      </li>
      <li>
        <router-link v-bind:to="{name: 'customers'}">Klienci</router-link>
      </li>
      <li>
        <router-link v-bind:to="{name: 'media'}">Pliki</router-link>
      </li>

    </ul>
    <p class="menu-label">
      Produkty
    </p>
    <ul class="menu-list">
      <li>
        <router-link v-bind:to="{name: 'products.index'}">Produkty</router-link>
      </li>
      <li>
        <router-link v-bind:to="{name: 'products.category.index'}">Kategorie</router-link>
      </li>
    </ul>
    <p class="menu-label">
      Administracja
    </p>
    <ul class="menu-list">
      <li><a>Ustawienia zespołu</a></li>
      <li>
        <a>Zarządzaj zespołem</a>
        <ul>
          <li><a>Członkowie</a></li>
          <li><a>Wtczki</a></li>
          <li><a>Dodaj członka</a></li>
        </ul>
      </li>
      <li><a>Zaproszenia</a></li>
      <li><a>Ustawienia środowiska Cloud Storage</a></li>
      <li><a>Uwierzytelnianie</a></li>
    </ul>
    <p class="menu-label">
      Tranzakcie
    </p>
    <ul class="menu-list">
      <li><a>Płatności</a></li>
      <li><a>Transfery</a></li>
      <li><a>Bilans</a></li>
    </ul>
  </aside>

</div>
</template>
